* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.menu_container {
  color: tomato;
  background-color: powderblue;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900 px;
  display: flex;
  justify-content: space-between;
}

.link {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.header-container {
  color: brown;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
}

.header {
  width: 1000px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe,
.social {
  align-self: flex-end;
  margin-bottom: 20px;
}
